<app-section [title]=title() subtitle="Pipes no tan comunes" />

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">

    <app-card title="i18nSelectPipe">
        <div class="text-justify">
            <p class="w-full mb-4">
                El pipe <strong><code>i18nSelect</code></strong> en Angular se utiliza para seleccionar un texto basado
                en el valor de una propiedad,
                permitiendo mostrar mensajes personalizados según el género, estado o cualquier otra característica del
                objeto.
                Se aplica usando el símbolo <code>|</code> seguido de <code>i18nSelect</code> y un objeto de mapeo en el
                template.

            </p>
            <p class="mb-4"><strong>Ejemplo:</strong></p>
            <p> Saludos {{cliente().nombre}}, es un placer {{cliente().genero | i18nSelect:invitacionmap}} a nuestro
                evento</p>
            <p class="mb-4"><code>{{'{{ cliente().genero | i18nSelect:invitacionmap }}'}}</code></p>
            <div class="stat-desc mb-4">Cliente actual: {{cliente().nombre}} ({{cliente().genero}})</div>
            <div class="stat-value mb-4"></div>
            <button (click)="changeCliente()" class="btn btn-primary">Cambiar cliente</button>
        </div>
    </app-card>

    <app-card [title]=titulo()>
        <div class="text-justify">
            <p class="w-full mb-4">
                El pipe <strong><code>i18nPlural</code></strong> en Angular se utiliza para mostrar diferentes textos
                basados en la cantidad de elementos,
                permitiendo crear mensajes pluralizados automáticamente. Es especialmente útil para mostrar el número de
                elementos
                de una lista o colección con el texto apropiado según la cantidad.
                Se aplica usando el símbolo <code>|</code> seguido de <code>i18nPlural</code> y un objeto de mapeo en el
                template.

            </p>
            <p class="mb-4"><strong>Ejemplo:</strong></p>
            <p>Actualmente {{clientes().length | i18nPlural:clientesMap()}}</p>
            <p class="mb-4"><code>{{'{{ clientes().length | i18nPlural:clientesMap() }}'}}</code></p>
            <div class="stat-desc mb-4">Número de clientes: {{clientes().length}}</div>
            <div class="stat-value mb-4"></div>
            <button [disabled]="clientes().length === 0" (click)="deleteCliente()" class="btn btn-primary">Eliminar
                cliente</button>
        </div>
    </app-card>

    <app-card title="SlicePipe">
        <div class="text-justify">
            <p class="w-full mb-4">
                El pipe <strong><code>slice</code></strong> en Angular permite extraer una sección de un arreglo o
                cadena de texto, especificando el índice de inicio y el índice de fin (sin incluir este último). Es útil
                para mostrar solo una parte de los datos en la vista, similar al método <code>slice()</code> de
                JavaScript.
            </p>
            <p class="mb-4"><strong>Ejemplo:</strong></p>
            <b>Original</b>
            <p class="text-primary">
                {{clientes().join(", ")}}
            </p>

            <b>Slice:0:2</b>
            <p class="text-primary">{{clientes() | slice:0:2 }}</p>

            <b>Slice:1:2</b>
            <p class="text-primary">{{clientes() | slice:1:2 }}</p>

            <b>Slice:1:3</b>
            <p class="text-primary">{{clientes() | slice:1:3 }}</p>

            <b>Slice:3:4</b>
            <p class="text-primary">{{clientes() | slice:3:4 }}</p>

            <b>Slice:1:3</b>
            <p class="text-primary">{{clientes() | slice:1:3 }}</p>

            <b>Slice:1:-1</b>
            <p class="text-primary">{{clientes() | slice:1:-1 }}</p>
        </div>
    </app-card>

    <app-card title="JsonPipe">
        <div class="text-justify">
            <p class="w-full mb-4">
                El pipe <strong><code>json</code></strong> en Angular se utiliza para convertir un objeto o valor en una
                cadena JSON,
                lo que facilita la visualización de datos complejos en la plantilla. Es especialmente útil para depurar
                y
                mostrar estructuras de datos de manera legible.
            </p>
            <pre>{{clientes() | json}}</pre>
            <pre>{{cliente() | json}}</pre>
            <p>{{clientes().join(", ") | json | uppercase}}</p>

            <p class="mb-4"><strong>Ejemplo:</strong></p>
            <p>Datos del cliente: {{cliente() | json}}</p>
            <p class="mb-4"><code>{{'{{ cliente() | json }}'}}</code></p>
            <div class="stat-desc mb-4">Cliente actual: {{cliente().nombre}} ({{cliente().genero}})</div>
            <div class="stat-value mb-4"></div>
            <button (click)="changeCliente()" class="btn btn-primary">Cambiar cliente</button>
        </div>
    </app-card>

    <app-card title="KeyValuePipe">
        <div class="text-justify">
            <p class="w-full mb-4">
                El pipe <strong><code>keyvalue</code></strong> en Angular transforma un objeto en un arreglo de pares
                clave-valor, permitiendo iterar fácilmente sobre las propiedades del objeto en la plantilla.
            </p>
            <p class="mb-4">
                <strong>¿Por qué se usa?</strong>
                Angular no permite recorrer directamente un objeto con <code>*ngFor</code> o <code>''for</code>, ya que
                solo pueden iterar sobre arreglos.
                El pipe <code>keyvalue</code> soluciona esto convirtiendo el objeto en un array de objetos con las
                propiedades
                <code>&#123; key, value &#125;</code>, facilitando así su recorrido dinámico desde la vista,
                especialmente útil cuando los nombres de las propiedades son desconocidos o cambiantes.
            </p>
            <p class="mb-4"><strong>Ejemplo:</strong></p>
            <ul>
                @for (item of personaKeyValue() | keyvalue; track item.key) {
                    <li>
                        <strong class="text-primary">{{item.key | titlecase}}:</strong>
                        <span >
                            {{item.value}}
                        </span>
                    </li>
                }
            </ul>
            <p class="mb-4"><strong>Ejemplo: usuario</strong></p>
            <ul>
                @for (user of usuario | keyvalue; track user.key) {
                <li>
                    <strong class="text-primary">{{user.key | titlecase}}:</strong>
                    <span >
                        {{user.value}}
                    </span>
                </li>
                }
            </ul>
            <p class="mb-4"><code>{{'{{ personaKeyValue() | keyvalue }}'}}</code></p>
        </div>
    </app-card>


    <app-card [title]=AsyncPipe()>
        <div class="text-justify">
            <p class="w-full mb-4">
                El pipe <strong><code>async</code></strong> en Angular se utiliza para suscribirse automáticamente a <strong>Observables</strong> o <strong>Promises</strong> directamente en la plantilla. Permite mostrar el valor emitido sin necesidad de gestionar manualmente la suscripción o cancelación, ya que Angular lo hace por ti. Es ideal para trabajar con datos asíncronos, como respuestas de servicios HTTP o streams reactivos, simplificando el código y evitando fugas de memoria.
            </p>
            <p >Ejemplo: {{AsyncPipe()}} </p>
            <p>{{promiseValue | async}}</p>
            @if(promiseValue | async; as value) {
                <p class="text-primary">Valor de la promesa: {{value}}</p>
            } @else {
                <p class="text-secondary">Esperando valor...</p>
            }
        </div>
    </app-card>

    <!--  asyncpipe con observable -->
    <app-card title="AsyncPipe con Observable">
        <div class="text-justify">
            <p class="w-full mb-4">
                El <strong>AsyncPipe</strong> con <strong>Observable</strong> en Angular permite suscribirse automáticamente a un Observable y mostrar su valor más reciente en la plantilla. Es muy útil para manejar flujos de datos en tiempo real, como los que provienen de servicios web, sockets o eventos del usuario. El AsyncPipe gestiona la suscripción y cancelación por ti, evitando fugas de memoria y simplificando el manejo de datos reactivos en la vista.
            </p>
            <h3 class="text text-2xl">Observable</h3>
            <p>{{ myObservableTimer | async}}</p>

            @if( myObservableTimer | async; as value){
                <p>valor: {{value}}</p>

            }
            @else {
                <p class="text-secondary">Esperando valor...</p>
            }
        </div>
    </app-card>

</div>