<country-search-input 
    placeholder="Buscar por pais"
    [boton]="busquedavalue()"
    (buscar)="queryPais.set($event)"
    [debaucetime]="3000"
    [valorInicial]="queryPais()"
    
    />
    <!-- (buscar)="queryPais.set($event)" -->

 <!-- @if (bypaisResource.error()) {
            <h3>{{bypaisResource.error()}}</h3>
        }@if(bypaisResource.hasValue()){<country-list [paises]="bypaisResource.value()!" />} -->

        <country-list 
            [paises]="bypaisResource.value() ?? []"
            [errorMensaje]="bypaisResource.error()"
            [isEmpty]="bypaisResource.value()?.length === 0"
            [isLoading]="bypaisResource.isLoading()"

            />


