<section class="flex flex-row gap-2 mt-2">

    <input 
        type="text"
        class="input input-bordered mr-2 w-56"
        [placeholder]="placeholder()"
        autofocus
        (keyup.enter)="buscar.emit(txtbuscarcapital.value)"
        #txtbuscarcapital
        [placeholder]="placeholder()"
        
        >
       
        
        <!-- 
         (keyup.enter)="onBuscarCapital(txtbuscarcapital.value)"
        (keyup.enter)="onBuscarCapital2(txtbuscarcapital.value)" -->
    <button
        class="btn btn-primary"
        (click)="buscar.emit(txtbuscarcapital.value)"
       
        >
        <!--  (click)="onBuscarCapital(txtbuscarcapital.value)" -->
      {{boton()}}
    </button>

</section>
