
<section class="mt-5">

    <table class="table table-md mt-2 w-full">
        <thead>
            <tr>
                <th>#</th>
                <th>Icono</th>
                <th>Bandera</th>
                <th>Nombre</th>
                <th>Capital</th>
                <th>Poblacion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (pais of paises(); track pais.cca2; let index = $index) {
                <tr>
                    <td>{{index + 1}}</td>
                    <td>{{pais.flag}}</td>
                    <td>
                        <img [src]="pais.flagSvg" [alt]="pais.common"
                            class="w-10"
                        >
                        
                    </td>
                    <td>{{pais.common}}</td>
                    <td>{{pais.capital}}</td>
                    <td>{{pais.population | number}}</td>
                    <td>
                        <a 
                            [routerLink]="['/country/by', pais.cca2]"  
                            class="link-primary cursor-pointer">Mas informacion</a>
                    </td>
                </tr>

            }

            @if (errorMensaje()) {
                <tr>
                    <td colspan="8" class="text-center">
                        {{errorMensaje()}}
                    </td>
                </tr>
            }

          <!--  -->
            @if (paises().length === 0 && !isLoading()) {
                  <tr>
                    <td colspan="8" class="text-center">
                       No se encontraron resultados
                    </td>
                </tr>
            }
            <!--  -->
           @if (isLoading()) {
                <tr>
                    <td colspan="8" class="text-center">
                      Buscando paises
                    </td>
                </tr>
           }

        </tbody>

    </table>

</section>