<section class="mx-10">
  <h1 class="text-2xl font-bold text-center">Pipes de angular</h1>
  <h2>¿Qué son los Pipes en Angular?</h2>
  <p>
    Los pipes en Angular son una forma de modificar o transformar datos antes de mostrarlos en la pantalla (es decir, en el HTML).
  </p>
<div class="my-2  bg-base-100 rounded shadow-md">
  <h2 class="text-xl font-semibold mb-4">¿Para qué se usan?</h2>
  
  <p class="mb-4">
    Los <strong>pipes</strong> se usan para <span class="italic">darle formato a la información</span> que viene del componente, como por ejemplo:
  </p>
  
  <ul >
    <li>✅ Convertir texto a <strong>mayúsculas</strong>.</li>
    <li>📅 Mostrar una <strong>fecha</strong> en formato legible.</li>
    <li>💰 Mostrar un número como <strong>dinero</strong>.</li>
    <li>📈 Convertir un número decimal a <strong>porcentaje etc...</strong>.</li>
  </ul>
</div>
  <h3 class="text-xl font-thin">Pipes incluidos en angular</h3>

</section>
