<h2>Reactivos: Básicos</h2>
<hr>

<div class="row">
    <div class="col">

        <form autocomplete="off" [formGroup]="miformulario" (ngSubmit)="onSave()">

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Productos</label>
                <div class="col-sm-9">

                    <input type="text"
                           class="form-control"
                           placeholder="Nombre del producto"
                           formControlName="nombre_producto">
                    @if (formUtils.campovalido(miformulario,'nombre_producto')) {
                        <span class="form-text text-danger">
                            <!-- Debe de ser de 3 letras -->
                          {{formUtils.mensajecampovalidado(miformulario, 'nombre_producto')}}
                        </span>

                    }
                </div>
            </div>

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           placeholder="Precio del producto"
                           formControlName="precio">
                       @if (formUtils.campovalido(miformulario,'precio')) {
                        <span class="form-text text-danger">
                            <!-- Debe de ser de 3 letras -->
                          {{formUtils.mensajecampovalidado(miformulario, 'precio')}}
                        </span>

                    }
                </div>
            </div>

            <!-- Campo de existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           placeholder="Existencias del producto"
                           formControlName="cantidad">

                        @if (formUtils.campovalido(miformulario,'cantidad')) {
                        <span class="form-text text-danger">
                            <!-- Debe de ser de 3 letras -->
                          {{formUtils.mensajecampovalidado(miformulario, 'cantidad')}}
                        </span>

                    }
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>



        </form>

    </div>
</div>




<div class="row">
    <div class="col">

        <span>Valid</span>
        <pre>{{ miformulario.valid | json }}</pre>

        <span>Pristine</span>
        <pre>{{ miformulario.pristine | json }}</pre>

        <span>Touched</span>
        <pre>{{ miformulario.touched | json }}</pre>

        <span>Value</span>
        <pre>{{ miformulario.value | json }}</pre>

        <span>Errores nombre_producto</span>
        <pre>{{ miformulario.controls['nombre_producto'].errors| json }}</pre>
        <span>Errores precio</span>
        <pre>{{ miformulario.controls['precio'].errors| json }}</pre>
        <span>Errores cantidad</span>
        <pre>{{ miformulario.controls['cantidad'].errors| json }}</pre>

        
        <span>Precio</span>
        <pre>{{ miformulario.controls['precio'].value | json }}</pre>
        
        <span>Producto</span>
        <pre>{{ miformulario.controls['nombre_producto'].value | json }}</pre>

    </div>
</div>
